body {
	font-size: 24px;
	line-height: 32px;
	color: #333;
	width: 100%;
    height:100%;	
}

.containerHeader{
    padding: 20px 20px 0px 100px;
    margin: 0px auto;
    width: 100%;
    background: white;
    color: #ffffff;
}
#headerFirstName{
	margin:20px 47px 0px 0px;
    background: #4aaaa5;
    padding: 20px;
    font-weight: bold;
    font-family: Georgia;
    color: white;
    display: inline-block;
}
.spacer{
    width: 33.5%;
    height: 12px;
    min-width: 325px;
    max-width: 421px;
    display: inline-block;
}
#navBar{
    min-width: 190px;
    max-width: 190px;
    width: 33%;
	margin-top: 20px;
    display: inline-block;
}
tr{
    font-family: arial;
    font-size: 10pt;
}
section {
	padding: 20px;
	background: #ffffff
}
.navBarLinks{
	text-decoration: none;
	color: #777777
}
#left {
	padding-left: 15px;
	padding-right: 15px;
    border-right: 1px solid #cccccc;
}
#middle {
	padding-left: 15px;
	padding-right: 15px;
    border-right: 1px solid #cccccc;
}
#right {
	padding-left: 15px;
	padding-right: 15px;
}
.bodyHeadings{
	font-weight: bold;
    font-family: Georgia;
    color: #4aaaa5;
    width: 100%;
    display: inline-block;
}
.contentBorder{
	border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
}
#profPic{
	float: left;
    width: 140px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.aboutMeBio{
	font-family: arial;
	font-size: 10pt;
	line-height: 2;
	width: 500px;
	color: #777777	
}
#full {
	clear: both;
	width: 100%;
	height: 100%;
	overflow: auto;
    padding: 20px;
    border-top: 2px solid #cccccc;
	background-image: url("old_moon.png");

}
#container {
	float: left;
    width: 20%;
    max-width: 190px;
    min-width: 190px;
    padding: 20px;
    font-size: 14pt;
    font-weight: bold;
    font-family: Georgia;
    color: #4aaaa5;
    background: #fff;
    border: 1px solid #eee;
}
.mainCentral{
	float: left;
    width: 50%;
    max-width: 600px;
    margin-left: 80px;
    margin-right: 63px;
    padding: 20px;
    height: 100%;
    background: #fff;
    border: 1px solid #eee;
}
aside {
}
#linkMeIcons{
	width: 85%;
}
.connectLinks{
	float: left;
    width: 25%;
    margin-left: 10px;
    margin-top: 10px;
 	opacity: 0.5;
 
 /*Transition*/
 	-webkit-transition: all 0.5s ease;
 	-moz-transition: all 0.5s ease;
 	-o-transition: all 0.5s ease;
}
.connectLinks:hover{  
   	opacity: 1;

   	/*Glow*/
  	-webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  	-moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  	box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}
footer {
	border-top: 10px solid #4aaaa5;
	background: #666666;
	padding: 20px;
    width: 100%;
	clear: both;
}
#copyright{
	text-align: center;
    font-size: 10pt;
    display: inline-block;
    width: 100%;
}
.formHeadings{
	font-family: Arial;
	font-size: 14pt;
	color: #777777;	
}
.formInput{
    width: 90%;
    height: 16px;
    font-family: Arial;
    font-size: 10pt;
    color: #777777;
    margin-bottom: 10px;
}
#formMessage{
	width: 90%;
	height: 100px;
    font-family: Arial;
    font-size: 10pt;
    color: #777777;
    text-align: left;
}
#submitButton{
	background: #4aaaa5;
	color: #dddddd;
	font-family: arial;
	font-size: 10pt;
}
input[type="text"]:focus{
	outline: none;
}
textarea:focus{
	outline: none;
}
.projectPics{
    float: left;
    height: 150px;
    width: 200px;
    padding: 0px 15px 15px 15px;
    position: relative;
    top: 0;
    left: 0;
}
#project1{
	position: absolute;
	background-color: #4aaaa5;
    width: 200px;	
    top: 320px;
    left: 136px;
    text-align: center;
    font-family: georgia;
    font-size: 12pt;
    color: white;
}
#project2{
	position: absolute;
    background-color: #4aaaa5;
    width: 200px;
    top: 320px;
    left: 366px;
    text-align: center;
    font-family: georgia;
    font-size: 12pt;
    color: white;
}
#project3{
	position: absolute;
    background-color: #4aaaa5;
    width: 200px;
    top: 484px;
    left: 136px;
    text-align: center;
    font-family: georgia;
    font-size: 12pt;
    color: white;
}
#project4{
	position: absolute;
    background-color: #4aaaa5;
    width: 200px;
    top: 484px;
    left: 366px;
    text-align: center;
    font-family: georgia;
    font-size: 12pt;
    color: white;
}
#project5{
	position: absolute;
    background-color: #4aaaa5;
    width: 200px;
    top: 651px;
    left: 136px;
    text-align: center;
    font-family: georgia;
    font-size: 12pt;
    color: white;
}
* {
    margin: 0;
}
html{
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.footer{
    height: 4em;
}
.push{
    background-image: url("old_moon.png");
    height: 4em;
}
.spacingBlock{
    width: 20%;
    float:left;
}

@media (max-width: 980px){
    #container{
        margin-left: 20px;
    }
    .mainCentral{
        width: 50%;
        max-width: 490px;
        min-width: 200px;
        margin-left: 30px;
        margin-right: 30px;
        padding: 20px;
    }
    .spacer{
        max-width: 337px;
        min-width: 200px;
        width: 34.5%;
    }
    #navBar{
        margin: 0px;
        padding-top: 0px;
    }
    #headerFirstName{
        margin-right: 0px;
        margin-top: 0px;
    }
    .containerHeader{
        padding-left: 50px;
        padding-top: 0px
    }
    .aboutMeBio{
        font-family: arial;
        font-size: 10pt;
        line-height: 2;
        margin-right: 0px;
        width: 95%;
        color: #777777;
    }
    #profPic{
        padding-right: 30px;
        padding-bottom: 30px;    
    }
    #project1{
        width: 300px;   
        top: 344px;
        left: 86px;
        font-size: 16pt;

    }
    #project2{
        width: 300px;
        top: 584px;
        left: 86px;
        font-size: 16pt;

    }
    #project3{
        width: 300px;
        top: 824px;
        left: 86px;
        font-size: 16pt;

    }
    #project4{
        width: 300px;
        top: 1064px;
        left: 86px;
        font-size: 16pt;

    }
    #project5{
        width: 300px;
        top: 1304px;
        left: 86px;
        font-size: 16pt;
    }
    #portfolioMain{
        max-width: 450px;
        width: 50%;
    }
    .projectPics{
        height: 225px;
        width: 300px;
    }
}

@media (max-width: 768px){
    #container{
        clear:both;
        margin-top: 20px;
        margin-left: 30px;
        width: 85%;
        max-width: 625px;
        min-width: 200px;
        margin-right: 30px;
        padding: 20px;
    }
    .mainCentral{
        width: 85%;
        max-width: 625px;
        min-width: 200px;
        margin-left: 30px;
        margin-right: 30px;
        padding: 20px;
    }
    .connectLinks{
        width:7% ;
    }
    .spacer{
        max-width: 220px;
        min-width: 132px;
        width: 20.5%;    
    }
    .projectPics{
        padding: 0px 30px 15px 30px;
    }
    #project1{
        width: 200px;   
        top: 290px;
        left: 101px;
        font-size: 12pt;

    }
    #project2{
        width: 200px;
        top: 290px;
        left: 361px;
        font-size: 12pt;

    }
    #project3{
        width: 200px;
        top: 454px;
        left: 101px;
        font-size: 12pt;
    }
    #project4{
        width: 200px;
        top: 454px;
        left: 361px;
        font-size: 12pt;
    }
    #project5{
        width: 200px;
        top: 621px;
        left: 101px;
        font-size: 12pt;
    }
    .projectPics{
        height: 175px;
        width: 200px;
    }
    #portfolioMain{
        width: 85%;
        max-width: 625px;
        min-width: 200px;
        margin-left: 30px;
        margin-right: 30px;
        padding: 20px;
    }
}

@media (max-width: 640px){
    .spacer{
        display: none;
    }
    #headerFirstName{
        width: 100%;
        text-align: center;
    }
    .containerHeader{
        padding: 0px;
    }
    #navBar{
        text-align: center;
        width: 100%;
        display: block;
        max-width: none;
    }
    #left{
        padding-left: 15px;
        padding-right: 15px;
        border-right: 1px solid #cccccc;
        width: 182px;
        display: inline-block;
        float: left;
    }
    #middle{
        padding-left: 15px;
        padding-right: 15px;
        border-right: 1px solid #cccccc;
        width: 184px;
        display: inline-block;
        float: left;
    }
    #right{
        padding-left: 15px;
        padding-right: 15px;
        width: 182px;
        display: inline-block;
        float: left;
    }
    #full{
        padding-left: 0px;
    }
    #project1{
        width: 200px;   
        top: 320px;
        left: 66px;
        font-size: 12pt;

    }
    #project2{
        width: 200px;
        top: 320px;
        left: 296px;
        font-size: 12pt;

    }
    #project3{
        width: 200px;
        top: 484px;
        left: 66px;
        font-size: 12pt;

    }
    #project4{
        width: 200px;
        top: 484px;
        left: 296px;
        font-size: 12pt;
    }
    #project5{
        width: 200px;
        top: 651px;
        left: 66px;
        font-size: 12pt;
    }
    .projectPics{
        padding: 0px 15px 15px 15px;
        height: 175px;
        width: 200px;
    }
    #portfolioMain{
        max-width: 625px;
        width: 85%;
    }
}




